/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --figma-ratio : calc(max(0px, (100vh - 1024px)) * 0.03333);

}

/* semantic color variables for this project */
:root {
  --color-background: #141416;
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: #FAFAFA;
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  position: relative;
  margin: 0 0;
}

.ellipse {
  width: 1px;
  height: 1px;

  box-shadow: 0 4px 250px 700px rgba(255, 0, 245, 0.02);
  border-radius: 50%;

  position: absolute;

  background-color: rgba(0, 0,0, 0.01);
}

.bottom-right {
  bottom: 0;
  right: 0;
}

.top-left {
  top: 0;
  left: 0;
}

/** Button */

.btn {
  padding: 12px 16px;
  width: fit-content;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.btn-txt {
  color : #5C6BC0;
  position: relative;
}

.btn-txt::before {
  position: absolute;
  height: 2px;
  width: 0%;
  background-color: #9CA5D7;
  content: ' ';
  bottom: 0;
  left: 0;
  transition: width ease-in-out 0.15s;
}

.btn-txt:hover::before {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #9CA5D7;
  content: ' ';
  bottom: 0;
  left: 0;
}

.btn-txt:hover {
  color : #9CA5D7;
}

.btn-primary {
  background-color: #5C6BC0;
  border: solid 1px #27262A;
  transition: background-color ease-in-out 0.1s;
}

.btn-primary:hover {
  background-color: #221522;
}

/** Text */

.headline {
  font-size: calc(48px + var(--figma-ratio));
  font-weight: bold;
}

.title {
  font-size: calc(36px + var(--figma-ratio));
  font-weight: bold;
}

.logo {
  font-size: calc(24px + var(--figma-ratio));
  font-weight: bold;
}

.emphasis {
  font-size: calc(20px + var(--figma-ratio));
}

.short {
  font-size: calc(12px + var(--figma-ratio));
}